html {
    background: url("../img/hookah.jpg") no-repeat;
    background-position: center;
    background-size: auto;
}
input {outline:none;}
.UserName{

    background: #000000;
    width: 50%;
    height: 73px;
    background: none;
    border: 2px solid #fff;
    border-radius: 42px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.applicationButton {
    margin-top: 20px;
    background: #000000;
    border: none;
    width: 50%;
    height: 83px;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    outline:none;
}
#auther{
    margin-left: 33%;
    margin-top: 20%;
}
/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder  {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 19+ */

:-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 18- */

:-ms-input-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}