* {
    margin: 0;

}

html {
    background-image: url("../img/vino_vinograd_napitok_bochka_fuzhery_butylka_70927_3840x2400.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Блок слева и справа

*/
.menu-1 {
    float: left;
    width: 68%;
    border: solid;
}

.menu-2 {
    float: right;
    width: 30%;
    border: solid;
}

/* блок официанта >>>> */
.block_1 {
    height: 100px;
}

.profile-logo {
    float: left;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100px;
    height: 100px;
}

.profile-img {
    width: 100px;
    height: 100px;
    float: left;
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
}

.profile-name {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.65);
}

/* <<< блок официанта */
.block_2 {
    background-color: rgba(0, 0, 0, 0.65);
    border: groove;
    height: 520px;
    width: 70%;
}

/*------------------------------------*\
	MENU
\*------------------------------------*/
.container {
    margin: 0;
    padding: 0;
}

.menu_drinks, .menu_foods, .menu_hookah, .menu_hookah__grape, .menu_hookah__milk, .menu_hookah__water, .menu_hookah__back,.menu_drinks__back,.menu_foods__back,.menu_drinks__grape,.menu_foods__grape {
    width: 150px;
    height: 150px;
    background-color: #636364;
    text-align: center;
}
.menu_hookah__hide,.menu_drinks__hide,.menu_foods__hide{
    opacity: 0.5;
}
.menu_drinks__back,.menu_foods__back,.menu_hookah__back{
    background-image: url("../img/back.png");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
}
.menu_hookah{
    background-image: url("../img/hookah2.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_foods{
    background-image: url("../img/berries_in_basket_macro-wallpaper-1366x768.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_drinks{
    background-image: url("../img/whisky_ice_cigar-wallpaper-1366x768.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_hookah__grape{

    background-image: url("../img/whisky_ice_cigar-wallpaper-1366x768.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_hookah__milk{

    background-image: url("../img/berries_in_basket_macro-wallpaper-1366x768.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_hookah__water{

    background-image: url("../img/berries_in_basket_macro-wallpaper-1366x768.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_foods__grape{
    background-image: url("../img/foods.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_hookah__water{
    background-image: url("../img/water.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_drinks__grape{
    background-image: url("../img/water.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.menu_hookah__grape{
    background-image: url("../img/foods.jpg");
    background-position: center;
    background-size: cover; -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

/* секция 2*/
.oplata {
    min-height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 10px;

}


.nomer_spiska {
    min-height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    border: groove;
    color: #ffffff;
}

.spisok_zakazov {
    width: 100%;
    min-height: 370px;
    background-color: rgba(0, 0, 0, 0.65);
    border: groove;
    color: #ffffff;
    font-size: 20px;
}
.spisok_zakazov p{
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.spisok_zakazov__container{
    min-height: 50vh;
}



