
body
{
    padding: 0;
    margin: 0;
}
.menu_1 {
    background-color: #00FF00;
    text-align: center;
}

.menu_2 {
    background-color: #dd0003;
    text-align: center;
}

.menu_3 {
    background-color: #c4651c;
    text-align: center;
}
.menu_1,.menu_2,.menu_3 :hover{
    cursor: pointer;
}
.hide-menu_2, .hide-menu_3, .hide-menu_1 {
    text-align: center;
    background-color: #7F7F7F;
    height: 100px;

}